<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>비밀번호 찾기</title>
  <!-- bootstrap -->
  <link rel="stylesheet" href="css/bootstrap.css">
</head>

<body class="bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
          <div class="row">
            <div class="col">
              <div class="p-3">
                <div class="text-center">
                  <h1 class="h4 text-gray-900 mb-2">비밀번호를 잊어버리셨나요?</h1>
                  <p class="mb-4 p-2">이메일 주소를 입력하면 비밀번호를<br> 재설정 할 수 있는 링크가 전송됩니다.</p>
                </div>
                <form class="user">
                  <div class="form-group">
                    <input type="email" class="form-control form-control-user" id="exampleInputEmail"
                      aria-describedby="emailHelp" placeholder="Enter Email Address...">
                  </div>
                  <a href="index.html" class="btn btn-primary btn-user btn-block">
                    비밀번호 재설정
                  </a>
                </form>
                <hr>
                <div class="text-center">
                  <a class="small" href="register.html">회원가입</a>
                </div>
                <div class="text-center">
                  <a class="small" href="login.html">이미 아이디가 있으신가요</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>